.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite var(--logo-animation-duration, 20s) linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
